
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header animated fadeIn" style="background:linear-gradient(rgba(9, 36, 154,0.45),rgba(9, 36, 154,0.45)),url('<%=image_url('img2')%>')">
   <div class="container">
       <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               <div class="page-heading">
                   <h1>Ecuador Solidario</h1>
                   <hr class="small">
                   <span class="subheading">Reconstruyendo.</span>
               </div>
           </div>
       </div>
   </div>
</header>

<!-- Main Content -->
<div class="container">
   <div class="row">
       <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
         <p>Ecuador Solidario, es una iniciativa solidaria que busca ayudar a los damnificados del Terremoto ocurrido en el Ecuador, el 16 de abril de 2016, mediante una plataforma de “crowdonations”, la cual está desarrollada colaborativamente por la sociedad civil de diversas partes del Mundo, haciendo uso de tecnologías libres como Ruby On Rails.</p>
         <p>La plataforma “Ecuador Solidario”, ayuda a clasificar necesidades (bienes/servicios) de los damnificados y conectarles fácilmente con las personas que quieren brindar su colaboración. Esta plataforma está pesada como una ayuda post-terremoto, es decir que su utilidad está enfocada en el proceso de reconstrucción de las zonas afectadas, a mediano y largo plazo.</p>
         <p>En otras palabras, EcuadorSolidario.org es una plataforma de crowdonations orientada a recomponer la calidad de vida de los afectados por el terremoto mediante la simplificación del match entre damnificados que necesitan algo y personas que tienen bienes o tiempo para donar.</p>
         <p>Para unirte al proyecto puedes escribirnos al e-mail: ecu.solidario@gmail.com, o mediante el canal de Slack: https://hack4ec.slack.com/</p>      </div>
   </div>
</div>
