<%# add navigation links to this file %>
<li>
    <%= link_to 'Inicio', root_path %>
</li>
<li>
    <%= link_to 'El proyecto', page_path('about') %>
</li>
<li>
    <%= link_to 'Casos', casos_path %>
</li>
