<%# add navigation links to this file %>
<li>
    <%= link_to 'Inicio', main_app.root_path %>
</li>
<li>
    <%= link_to 'El proyecto', main_app.page_path('about') %>
</li>
<li>
    <%= link_to 'Casos', main_app.casos_path %>
</li>
<li>
    <%= link_to 'Blog', main_app.blogit_path %>
</li>
